.table-wrapper .table-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-dark-variant);
}

.table-wrapper .title {
    font-size: 1.6rem;
    font-weight: 600;
    padding-bottom: 20px;
    
}

.ballots {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.ballots .table-wrapper {
    flex: 1;
}

.ballots .candidate {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.ballots .candidate img {
    width: 60px;
    border-radius: 50%;
}

.ballots .candidate .button {
    margin-left: 100px;
    background-color: var(--color-primary);
}

.ballots .candidate .candidate-name {
    font-size: 1.2rem;
    font-weight: 500;
}